.card {
    display:inline-block ;
    margin: 5px;
    text-align: center;
    font-size: 1em;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 20px;
}

.row{
	flex-grow: 0;
    display: flexbox;
}
