
/* Flex Container */
.container {
	width: 80%;
	display: flex;
	border: 1px solid #ccc;
    flex-direction: row;
	border-radius: 20px;
}

.buttonGroup{
	width: 18%;
    float: right;
    padding: 9px 3px;
}