.App {
  text-align: start;
}

.App-header h1{
  margin: 20px;
}

.App-logo {
  pointer-events: none;
  width: 30%;
  margin: 1% auto;
  float: left;
}

.App-header {
  background-color: #EE0101;
  color: white;
  width: 100%;
  float: left;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
